<div ng-include="'/partials/common/header-prelogin.html'"></div>

<div class="jumbotron vertical-center col-sm-12 col-md-10 col-md-offset-1" ng-controller="loginCtrl">
  <div class="container auth-form-body">
    <form name="userForm" id="userForm" ng-submit="validateLogin()" novalidate>

     
      <!-- email field -->
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="user.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>

        <!-- ngMessages goes here -->
        <div class="help-block" ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
          <p ng-message="pattern">Please enter a valid email address!</p>
          <p ng-message="required">Your email is required.</p>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" ng-model="user.password" required>

        <!-- ngMessages goes here -->
        <div class="help-block" ng-messages="userForm.password.$error" ng-if="userForm.password.$touched">
          <p ng-message="required">Your password is required.</p>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-info">Submit</button>
      </div>

    </form>
  </div>
</div>