<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MEAN</a>
    </div>
      </div>
<div id="signUp" class="dropdown">
  <span class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown">SignUp<span class="caret"></span></span>
    <ul class="dropdown-menu">
    <li><a class="glyphicon glyphicon-fire" href="#">GitHub</a></li>
    <li><a class="glyphicon glyphicon-globe" href="#">Google</a></li>
    </ul>
</div>
  </div>
</nav>
	
