<nav ng-controller="HeaderCtrl" class="navbar navbar-inverse">
  <div class="container-fluid" style ="background-color: {{user.bgColor}}">
    <div class="navbar-header hidden-xs hidden-sm">
      <a class="navbar-brand" href="#">Mongo Express</a>
    </div>
    <div class="navbar-header hidden-lg hidden-md floatRight">
      <a class="navbar-brand" href="#">Mongo Express</a>
    </div>
    <div  class="dropdown hidden-xs hidden-sm">
    <ul class="nav navbar-nav">
      <li><a class="glyphicon glyphicon-home active" href="/home">&nbsp;Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li  style="color:white" class="glyphicon glyphicon-cog"><a style="display:inline-block" href="/stickyNotes">Notes</a></li>
        <li  style="color:white" class="glyphicon glyphicon-cog"><a style="display:inline-block" href="/settings">Settings</a></li>
        <li  style="color:white" class="glyphicon glyphicon-cog"><a style="display:inline-block" ng-click="logout()">Logout</a></li>
        <li class="opinion"><span class="glyphicon glyphicon-thumbs-up" ng-click="count1 = count1 + 1"></span></span>{{count1}}<span>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-down" ng-click="count2 = count2 + 1"></span>{{count2}}<span></span>
    </li>
      </ul>
  </div>
  <div id="myNav" class="overlay">
    <div class="placeFix">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Menu</a>
    <ul class="nav postLogin">
      <li class="active glyphicon glyphicon-home" ><a href="/home" style="display:inline">Home</a></li>
    </ul>
    <ul class="nav postLogin">
      <li  style="color:white" class="glyphicon glyphicon-cog"><a style="display:inline-block" href="/stickyNotes">Notes</a></li>
        <li  style="color:white" class="glyphicon glyphicon-cog"><a style="display:inline-block" href="/settings">Settings</a></li>
        <li  style="color:white" class="glyphicon glyphicon-cog"><a style="display:inline-block" ng-click="logout()">Logout</a></li>
      </ul>
</div>
</div>

<!-- Use any element to open/show the overlay navigation menu -->
<span class=" menuButton floatLeft hidden-md hidden-lg glyphicon glyphicon-th-list"onclick="openNav()"></span>
                </div>
  </div>
</nav>
	
