<div ng-include="'/partials/common/header.html'"></div>

<img style="margin: -113px 0px 0px 10px;" src="{{user.picture}}" width="300" height="300"></img>
<div class="welcomeNote">
    <h1>Welcome {{user.name}}!...</h1>
    <br/>
    <span>find your updates below...</span>
</div>
<div ng-init="nearme()" ng-show="weather" class="the-blur">
    <div class="container">
        <h2 class="text-center">Weather</h2>
        <div class="row">
            <div class="col-sm-9">
                <canvas id="{{weather.icon}}" width="128" height="128"></canvas>
                {{weather.summary}}
            </div>

            <div class="col-sm-3  text-center">
                <h1>{{(weather.temperature - 32)/ 1.800 | number:2}}&deg; C</h1>
            </div>
        </div>
    </div>
</div>
<!-- Horizontal Photo gallery starts here -->
<div id='photoGallery'>
    <div class="container-fluid">
        <h2 class="text-center">Picture Gallery</h2>
        <div class="row-fluid">
            <div class="cover-container">
                <!-- START PANEL -->
                <div  class="cover-item" ng-repeat="article in articles">
                    <a href="{{article.articleURL}}"><span class="cover-item" style="background-image: url('{{article.imageUrl}}')"></span></a>
                </div>

                <!-- END PANEL -->
            </div>
        </div>
    </div>
</div>
<!-- Horizontal Photo gallery ends here -->
